---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Scripts from "../components/Scripts.astro";
import Body from "../components/Body.astro";
import ArticleCard from "../components/ArticleCard.astro";
import Container from "../components/Container.astro";
import Prose from "../components/Prose.astro";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Scripts />
    <div class="sticky top-0 z-50 bg-sky-100 dark:bg-slate-800">
      <Header />
    </div>
    <main>
      <Container>
        <content>
          <div class="mt-16 sm:mt-20">
            <Prose>
              <h1>
                Writing on software design, programming languages, and other
                tech.
              </h1>
              <p>
                I share my thoughts on topics and projects I find interesting,
                collected here in chronoglogical order.
              </p>
            </Prose>
            <div
              class="my-16 md:border-l md:border-slate-200 md:pl-6 md:dark:border-slate-700/40"
            >
              <div class="flex max-w-3xl flex-col space-y-16">
                {
                  posts.map((post) => (
                    <ArticleCard
                      date={post.frontmatter.pubDate}
                      description={post.frontmatter.description}
                      slug={post.url}
                      title={post.frontmatter.title}
                    />
                  ))
                }
              </div>
            </div>
          </div>
        </content>
      </Container>
      <Footer />
    </main>
  </Body>
</html>
