---
import { type ImageMetadata } from 'astro'
import type { HTMLAttributes } from 'astro/types'
import { Image } from 'astro:assets'

export type Role = {
  company: string
  title: string
  logo: ImageMetadata
  start: string | { label: string; dateTime: string }
  end: string | { label: string; dateTime: string }
  iconStyle?: HTMLAttributes<'img'>['style']
}

type Props = { role: Role }

const { role } = Astro.props

const startLabel =
  typeof role.start === 'string' ? role.start : role.start.label
const startDate =
  typeof role.start === 'string' ? role.start : role.start.dateTime

const endLabel = typeof role.end === 'string' ? role.end : role.end.label
const endDate = typeof role.end === 'string' ? role.end : role.end.dateTime
---

<li class="flex gap-4">
  <div
    class="relative mt-1 flex h-10 w-10 flex-none items-center justify-center rounded-full shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0"
  >
    <Image
      src={role.logo}
      alt="Brand logo"
      class="h-7 w-7 rounded-full"
      style={role.iconStyle}
    />
  </div>
  <dl class="flex flex-auto flex-wrap gap-x-2">
    <dt class="sr-only">Company</dt>
    <dd
      class="w-full flex-none text-sm font-medium text-zinc-900 dark:text-zinc-100"
    >
      {role.company}
    </dd>
    <dt class="sr-only">Role</dt>
    <dd class="text-xs text-zinc-500 dark:text-zinc-400">
      {role.title}
    </dd>
    <dt class="sr-only">Date</dt>
    <dd
      class="ml-auto text-xs text-zinc-500 dark:text-zinc-400"
      aria-label={`${startLabel} until ${endLabel}`}
    >
      <time datetime={startDate}>{startLabel}</time>{' '}
      <span aria-hidden="true">—</span>{' '}
      <time datetime={endDate}>{endLabel}</time>
    </dd>
  </dl>
</li>
