---
import type { CollectionEntry } from 'astro:content'
import BaseHead from '../components/BaseHead.astro'
import RootLayout from './RootLayout.astro'
import Container from '../components/Container.astro'
import { formatDate } from '../utils'
import Prose from '../components/Prose.astro'

type Props = CollectionEntry<'article'>['data'] & { id: string }

const { title, pubDate, heroImage, description, socialImage } = Astro.props
---

<RootLayout>
  <BaseHead
    slot="head"
    title={title}
    description={description}
    image={socialImage?.src || heroImage?.src}
  />
  <Container class="mt-16 lg:mt-32">
    <div class="xl:relative">
      <div class="mx-auto max-w-2xl">
        <article>
          <header class="flex flex-col">
            <h1
              class="mt-6 text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl"
            >
              {title}
            </h1>
            <time
              datetime={pubDate.toISOString()}
              class="order-first flex items-center text-base text-zinc-500 dark:text-zinc-400"
            >
              <span class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"
              ></span>
              <span class="ml-3">{formatDate(pubDate)}</span>
            </time>
          </header>
          <Prose class="mt-8" data-mdx-content>
            <slot />
          </Prose>
        </article>
      </div>
    </div>
  </Container>
</RootLayout>
